








.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 80px ;
}
.nav-title{
    font-weight:800 ;
    font-size: 20px;
}
nav ul{
    display: flex;
    
}
nav ul li {
    list-style: none;
}
.banner
{
    margin: 0 200px 0 530px;
}
.header{
    background-image: url('../assets/Hero-bg.png');
}
.btn-col{
    background-color: black;
    font-weight: 800 ;
    color: white;
    padding: 20px 35 px;

}